<%= render "profiel" %>
<h2 class="profiel-posts-title">フォロー</h2>
<div class="users-follow-index">
    <% @users.each do |user| %>
        <%= link_to "/users/#{user.id}" do %>
            <div class="user-cont">
                <div class= "user-img">
                    <%= image_tag("/user_images/#{user.profiel_image}") %>
                </div>
                <div class="prof-sentence">
                    <h4 class="user-name"><%= user.name %></h4>
                    <p class="user-introduction"><%= safe_join(user.introduction.to_s.split("\n"),tag(:br)) %></p>
                </div>
            </div>
        <% end %>
    <% end%>
</div>