<div class="show-profiel">
    <div class="show-profiel-line">
        <div class="show-profiel-image">
            <img src="<%= "/user_images/#{@user.profiel_image}"%>">
        </div>
        <% if @user == @current_user %>
            <div class="setting-image">
                <%= link_to image_tag("setting.png"),"/users/#{@user.id}/edit" %>
            </div>
            <div class="logout-button">
                <%= button_to image_tag("logout.png") , "/logout" %>
            </div>
        <% end %>
        <%# フォロー・リム－ブボタン %>
        <% if @user != @current_user %>
            <div class="follow-unfollow">
                <% if @user.is_followed_by?(@current_user) %>
                    <%= button_to("フォロー解除",user_relationship_path(@user),  {method: :delete, class: "unfollow-btn"}) %>
                <% else %>
                    <%= button_to("フォロー",user_relationships_path(@user), class: "follow-btn")%>
                <% end %>
            </div>
        <% end %>
    </div>
    <h3 class="profiel-name"><%= @user.name %></h3>
    <p class="user-introduction"><%= safe_join(@user.introduction.to_s.split("\n"),tag(:br)) %></p>
    <div class="profiel-under-container">
        <p class="post-count"><%= "投稿#{@posts.length}件" %></p>
        <%= link_to "いいね#{@likes.length}件", "/users/#{@user.id}/likes"%>
        <%= link_to "フォロー#{@user.followings.count}人", followings_user_path(@user) %>
        <%= link_to "フォロワー#{@user.followers.count}人", followers_user_path(@user) %>
    </div>
</div>
<h2 class="profiel-posts-title">投稿</h2>
<div class="profiel-posts">
    <div class="show-tab-content scroll-list jscroll" >
        <% @posts.each do |post| %>
            <div class="show-post-body">
                <%= link_to image_tag("/post_images/#{post.image}") , "/posts/#{post.id}" %>
            </div>
        <% end %>
        <%= paginate @posts %>
    </div>
</div>

<%# 無限スクロール機能 %>
<script type="text/javascript">
$(document).ready(function() {
        $('.jscroll').jscroll({
            contentSelector: '.scroll-list',
            nextSelector: 'span.next:last a'
        });
});
</script>
<h6>jQuery稼働テスト</h6>
<script type="text/javascript">
    $(document).ready(function() {
        $("h6").text("");
    });
</script>